.subtitle-form{
    border: 2px solid var(--blue);
    padding: 0 1rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
}
.timer-input{
    height: 2.5rem;
    width: 85%;
    border-radius: 0.5rem;
    margin: 0;
    border: 2px solid var(--blue);
    padding: 0rem 1rem;
}
::placeholder {
  color: var(--blue);
  opacity: 1; 
}
.timer-input:focus { 
  outline: none !important;
  border-color: #555;
}
textarea{
    height: 2.8rem;
    width: 85%;
    border-radius: 0.5rem;
    border: 2px solid var(--blue);
    padding: 0.5rem 1rem;
}
textarea:focus { 
  outline: none !important;
  border-color: #555;
}

.add-button {
  height: 3rem;
  width: 7rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--blue);
  transition: all 1000ms;
  font-size: 12px;
  position: relative;
  overflow: hidden;
  outline: 2px solid var(--blue);
  margin: 0.6rem 0;
  padding: 0;
}

.add-button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.add-button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--blue);
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.add-button:hover::before {
  width: 250%;
}

#download{
    margin-left: 1.5rem;
    width: 8rem;
}

@media screen and (max-width:1024px) {
  .subtitle-form{
    width: 18rem;
    margin-left: 1rem;
    margin-right: 1.5rem;
  }
  .timer-input{
    width: 85%;
  }
  textarea{
    width: 85%;
  }
  .add-button{
    width: 8rem;
    letter-spacing: 1px;
  }
  #download{
    margin-left: 1.2rem;
  }

}
@media screen and (max-width:768px) {
  .subtitle-form{
    margin-right: 1rem;
  }
}
@media screen and (max-width:425px) {
  .subtitle-form{
    width: 30rem;
    margin: 0;
  }
  .timer-input{
    width: 90%;
    height: 3rem;
  }
  textarea{
    width: 90%;
  }
  #download{
    margin-left: 5rem;
  }
  .add-button{
    margin: 1rem 0rem;
  }
}

@media screen and (max-width:375px) {
  .subtitle-form{
    width: 22rem;
  }
  #download{
    margin-left: 6rem;
  }
  .add-button{
    margin: 1rem 0rem;
  }
}

@media screen and (max-width:320px) {
  .subtitle-form{
    width: 22rem;
  }
  .timer-input{
    width: 90%;
  }
  textarea{
    width: 90%;
  }
  #download{
    margin-left: 6rem;
  }
  .add-button{
    margin: 1rem 0rem;
  }
}