@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@500&display=swap');


*{
    font-family: 'Roboto', sans-serif;
}
.title{
    text-align: center;
    font-size: 3rem;
    color: var(--blue);
    margin-left:18rem;
}
.choose-file{
    height: 3rem;
    width: 10rem;
    padding: 1rem;
    margin-left:2rem ;
}
.header{
    margin-top:1rem;
    margin: 1rem;
}
.nav-bar{
    display: flex;
}
.video-container{
    display:flex;
    justify-content: center;
    margin-left: 10rem;
    margin-top: 2rem;
}
.instruction{
    position:absolute;
    top: 12.2rem;
}
