.input-form{
  width: 55rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem ;
  align-items: center;
  border-radius: 0.5rem;
  padding:1rem 1rem;
  border: 2px solid #2c9caf;
}
.Video{
  border-radius: 15px;
  height: 440px;
  box-shadow: 4px 5px 17px -4px #268391;
}
.input {
  height: 2.5rem;
  width: 23rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(24, 23, 23);
  padding: 0.5rem 1rem;
  border: 2px solid #2c9caf;
  box-shadow: 4px 5px 17px -4px #268391;
  font-size: 1rem;
}
.file-container{
  width: 25.4rem;
  display: flex;
  justify-content: space-between;
}
 .choose-file {
  width: 14rem;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  border: 2px solid #2c9caf;  
  border-radius: 0.5rem;
  box-shadow: 4px 5px 17px -4px #268391;
  background-color: #2c9caf;
}

.choose-file::file-selector-button {
  height: 100%;
  font-weight: bold;
  padding: 0.5em;
  border: none;
  border-right : 2px solid #2c9caf;
  color: #2c9caf;
  border-radius: 5px;
}
.choose-file.choose-file::file-selector-button:hover {
  color: #555;
  transform: scale(1.1);
}


/* Button animated */
.button {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
}

.button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button:hover::before {
  width: 250%;
}


.instruction{
  box-shadow: 4px 5px 17px -4px #268391;
  border-radius: 5px;
  border: 2px solid #2c9caf;
  height: 350px;
  width:200px;
}

